@keyframes phone_up {
  to {
    bottom: var(--final-bottom);
    opacity: 1;
  }
}

.phone-bottom{
  position: absolute;
  bottom: -400px;
  opacity: 0;
  max-width: 480px;
}

.blue {
  --final-bottom: -75px;
  animation: phone_up 500ms ease-out forwards;
}

.white {
  --final-bottom: -60px;
  animation: phone_up 500ms ease-out forwards;
  animation-delay: 300ms;
}

.orange {
  --final-bottom: -70px;
  animation: phone_up 500ms ease-out forwards;
  animation-delay: 600ms;
}