@keyframes open-aside {
  0% {
    transform: translateX(-200px);
    opacity: 0;
    max-width: 0;
  }
  100% {
    transform: translateX(0);
    max-width: 400px;
    opacity: 1;
  }
}

.aside_open {
  animation: open-aside 0.5s forwards;
}

@keyframes close-aside {
  0% {
    transform: translateX(0);
    opacity: 1;
    max-width: 400px;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
    max-width: 0;
  }
}

.aside_close {
  animation: close-aside 0.5s forwards;
}
