@import "tailwindcss";
@import "./styles/keyframes/main-baner.scss";

* {
  font-family: "Inter", sans-serif;
}

.container {
  @apply mx-auto px-8;
}
.modal-input {
  display: block;
  padding: 12px;
  border: 1px solid #000;
  border-radius: 6px;
  background-color: #fff;
  color: #000;
}
.filters-list {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #cacaca33;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #000000a9;
  }
}
