@import "tailwindcss";
@import "./styles/keyframes/main-baner.scss";
@import "./styles/keyframes/open-modal.scss";
@import "./styles/keyframes/scroll-top.scss";
@import "./styles/keyframes/toggle-aside.scss";

* {
  font-family: "Inter", sans-serif;
}

.container {
  @apply mx-auto px-8;
}
.filters-list {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #cacaca33;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 5px;
    cursor: pointer;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #000000a9;
  }
}
